$primary-color: #209516;
$secondary-color: #222a36;
$white: #fff;
$red: #e0230b;
$placeholder-color: #c7cbce;
$border-color-input: #e5e8eb;
 
$border-bottom: 1px solid $primary-color;
$none:  none;
$radius-default: 6px;
$shadow-primary:  0 0 0 0.25rem rgba(32, 149, 22, 0.25);
